.main {
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 110vh;
    z-index: 2;
}

.sec-title {
    margin: auto;
    
}

.sec-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


@media only screen and (max-width:1100px){
    .sec-content {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}


@media only screen and (max-width:780px){
    .sec-content {
        display: grid;
        grid-template-columns: 1fr ;
    }
}